/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    }
    
    /* Estilos para los encabezados */
    .Titulos {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    }

    .Menu {
        background-attachment: fixed;
    }
    
    h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    }
    
    h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    }
    
    h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    }
    
    h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    }
    
    h1 em {
    font-style: italic;
    }
    h1 strong {
    font-weight: bold;
    }
    
    /* Estilos para los párrafos */
    p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    /* Estilos para las citas */
    #Verso {
    font-style: italic;
    margin-left: 40px;
    margin-right: 40px;
    }
    
    /* Estilos para la lista de navegación */
    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    li {
    margin-right: 10px;
    }
    
    a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    }
    
    a:hover {    
    background-color: #333;
    color: #fff;
    }
    
    
    /* Estilos para las imágenes */
    img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }

    #tabla{
    width: 100%;
    height: auto;
    background-color:black;
    color: #333;
    }
    
    th {
    background-color:rgb(131, 101, 0);
    color: #333;
    font-weight: bold;
    }
    
    td {
    background-color:antiquewhite;
    color: #333;
    }

    #formulario {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
        
    }
    
    #formulario input {
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 5px; 
    max-width: 100%;

    }
    
    /* Estilos para el pie de página */
    p:last-of-type {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }